.title_text {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: xx-large;
}

nav{
  text-align: center;
  padding-top: 1%;
  /*background-color: rgb(225, 225, 248);*/
}

body{
  padding: 0%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  min-height: 100%;
}

.barbuttons{
  padding: 5px;
  color: black;
  text-decoration-line: none;
  /*background-color: rgb(253, 243, 224);*/
  border-radius: 10px;
  

  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.barbuttons:hover {
  color: black;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;


}

.barbuttons:active{
  color: green;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

aside{
  padding-right: 8px;
  padding-left: 0px;
  display: block;
  position: fixed;

}

section{
  padding-right: 17%;
  padding-left: 17%;
}

marquee{
  /*background-color: black;*/
  /*color: aliceblue;*/
  padding: 10px;
}

footer{
  background-color:#eeeeee;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

hr {
  border-width: 2px;
}

