.title_text {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: xx-large;
}



nav{
  text-align: center;
  padding-top: 1%;
  /*background-color: rgb(225, 225, 248);*/
}

body{
  padding: 0%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  min-height: 100%;

}

.barbuttons{
  padding: 5px;
  color: black;
  text-decoration-line: none;
  /*background-color: rgb(253, 243, 224);*/
  border-radius: 10px;
  

  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.barbuttons:hover {
  color: rgb(18, 48, 4);
  font-weight: bolder;
  font-style: normal;
  text-decoration: underline overline;


}

.barbuttons:active{
  color: rgb(53, 0, 0);
}

aside{
  padding-right: 8px;
  padding-left: 0px;
  clear:  none;
  width: fit-content;
  float: left;
  margin-left: 2%;
}

aside p {
  padding: 0px;
  margin: 0;
  margin-left: 10px;
}

section{
  padding-right: 17%;
  padding-left: 22%;
}

marquee{
  /*background-color: black;*/
  /*color: aliceblue;*/
  padding: 10px;
}

footer{
  background-color:#eeeeee;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  left: 0;
  bottom: 0;
  width: 100%;

}

hr {
  border-width: 2px;
}

.links {
  text-decoration-line: none;
}

.links:hover {
  text-decoration-line:underline;
}

.first{
  margin: 5px;
}